@font-face{
  font-family: Forum;
  src:url("../assets/fonts/Forum-Regular.ttf");
 }
 @font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
 }
 @font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
 }
 @font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
 }
 @font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
 }
 @font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-bold.ttf");
  font-weight: 700;
 }
 /*.......................................................................................................*/
 $wh: #ffffff;
 $bl: #030303;
/*.........................................................*/
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
 }
 *, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
 }
body{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}
.back-color__black{
  background-color: $bl;
}
.back-color__white{
  background-color: $wh;
}
.content-wrapper{
  margin: 0 auto;
  max-width: 1440px;
}
/*............HEADER STYLES.......*/
.header__wrapper{
  max-width: 1440px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  display: flex;
  justify-content: space-between;
}
.header__logo-title:hover{
  color: #9D8665;
}
.header__logo-ico{
  width: 49px;
  height: 26px;
  background-image: url(/src/assets/svg/logo.svg);
  background-repeat: no-repeat;
}
.header__logo-link{
  text-decoration: none;
}
.header__logo-title{
  margin: 0;
  margin-left: 25px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $wh;
}
.header__navigation{
  max-width: 775px;
}
.navigation{
  display: flex;
  flex-direction: row;
}
.navigation__item{
  padding-right: 55px;
  list-style: none;
}
.navigation__item-link{
  text-decoration: none;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: $wh;
}
.navigation__item-link:hover{
  color:#9D8665;
}
.navigation__item-link:active{
  color: #7E6C51;
}
/*.........................Section Welcome..........................*/
.section__dark {
  margin: 0 auto;
  min-height: 810px;
  position: relative;
}
.section__dark-back {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 750px;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(/src/assets/img/galery/mona.jpg);
  background-repeat: no-repeat;
  background-position: calc(92%) calc(100%);
  background-size: 1000px 750px;
  padding-top: 150px;
}
.section__title {
  max-width: 700px;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.colored-white{
  color: $wh;
}
.colored-braun{
  color:#9D8665;
}
.colored-black{
  color: #000000;
}
.section__dark-title-wrapper{
  max-width: 598px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
}
.section__subtitle {
  margin-top: 25px;
  margin-bottom: 75px;
  font-size: 28px;
  letter-spacing: 2px;
  }
  .section__dark-button {
    width: 360px;
    height: 75px;
    background-color: #710707;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
  .dis{
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
  }
  .section__dark-button:hover{
    background-color: #9D8665;
  }
  .slider__wrapper{
    position: absolute;
    top: 690px;
    left: 878px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    min-height: 120px;
    padding: 40px 75px 40px 74px;
  }
.slide-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slide-carousel__pagination{
  width: 16px;
  height: 16px;
  margin-right: 25px;
  background-color: #ffffff;
}
.slide-carousel__pagination:hover{
  background: #9D8665;
}
.slide-carousel__pagination-active{
  background: #D2B183;
}
.slide-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slide-arrow__prev {
  width: 30px;
  height: 8px;
  border: 0;
  background: transparent;
  background-image: url(/src/assets/svg/←.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.slide-arrow__prev:hover{
  filter: invert(52%) sepia(40%) saturate(288%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.slide-arrow__next:hover{
  filter: invert(52%) sepia(40%) saturate(288%) hue-rotate(356deg) brightness(95%) contrast(91%);
}
.slide-arrow__next {
  width: 30px;
  height: 8px;
  background: transparent;
  border: 0;
  background-image: url(/src/assets/svg/←.png);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.slide-number {
  display: inline;
  width: 80px;
  height: 40px;
  font-weight: 400;
  font-size: 22px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 15px;
}

/*.................Virtual your................*/
.section__title-wrapper{
  margin-top: 75px;
  margin-bottom: 105px;
  position: relative;
}
.section__title .colored-braun {
  font-family: Forum;
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.virtual-tour .section__title::after{
  content: "";
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  height: 3px;
  background-color: #710707;
}
.virtual-tour__cards{
  display: flex;
  flex-wrap: wrap;
  gap: 77px 60px;
}
.cards__card-link{
  display: block;
  margin-bottom: 14px;
}
.cards__card-image{
  width: 440px;
  height: 285px;
}
.cards__card-title {
  font-family: Forum;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.cards__card-subtitle{
  font-weight: 200;
  font-size: 22px;
  margin-bottom: 11px;
}
.cards__card-text{
  font-weight: 200;
  font-size: 18px;
}
.virtual-tour__cards{
  padding-bottom: 75px;
}

/*.......................Picture........................*/
.explore__text {
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 27px;
}
.explore__text-color{
  color:#CAAA7D;
}
.explore__wrapper{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  column-gap: 60px;
}
.explore__image{
  padding-top: 90px;
  padding-bottom: 75px;
}
.widht {
  max-width: 660px;
  padding: 0;
  margin: 0;
}
.explore-text__wrapper{
  max-width: 655px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*..........................video...........*/
.video__title-wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  column-gap: 115px;
  padding-top: 70px;
  padding-bottom: 52px;
}
.video-text__wrapper{
  max-width: 710px;
  margin-top: 8px;
}
.video__wrapper-video{
  width: 1440px;
  height: 735px ;
  margin-bottom: 45px;
}
.video__video{
  height: auto;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.video__slider{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.conteiner{
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.video__slide-carousel{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 12px;
}
.video-slide-carousel__pagination{
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
}
.vidoe-slide-carousel__pagination-active{
  background-color: #333333;
}
.video__arrow-prev{
  margin: 0;
  width: 10px;
  height: 12px;
  background-image: url(/src/assets/svg/prev.png);
}
.video__arrow-next{
  margin: 0;
  width: 10px;
  height: 12px;
  background-image: url(/src/assets/svg/next.png);
}
/*.................Art Gallery.......*/
.artmargin{
  padding-top: 75px;
  position: relative;
}
.art__conteiner{
  height: 1960px;
  overflow-y: hidden;
  margin-top: 75px;
}
.art__box{
  height: 2946px;
  columns: 3;
  column-gap: 36px;
}
.art__box-content-img{
  width: 100%;
  margin-bottom: 24px;
}
.art__box-content-img:nth-child(1){
  padding-top: 50px;
}
 .art__box-content-img:nth-child(11){
  padding-top: 50px;
}
/*................tickets...............*/

.tickets .section__title::after{
  content: "";
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  height: 3px;
  background-color: #710707;
}
.tickets__wrapper{
  display: flex;
  flex-direction: row;
}
.tickets__image{
  margin-right: 62px;
}
.tickets__type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 252px;
}
.type__form{
  display: block;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 25px;
}
.type__title{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  padding-bottom: 45px;
}
.amount__title{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 23px;
}
.amount__buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid;
 margin-bottom: 10px;
}
.amount__label{
  display: block;
  margin-bottom: 14px;
}
.tickets__type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.type input{
  cursor: pointer;
  margin-right: 23px;
}
.type input:checked{
  width: 17px;
  height: 17px;
  background-color: #000000;
  color: #000000;
  cursor: pointer;
 }
 .amount{
   align-items: flex-end;
   flex-direction: column;
   display: flex;
 }
 .basic{
   max-width: 12px;
   display: flex;
   border: 0;
   align-self: center;
   cursor: pointer;
   font-size: 22px;
 }
 .amount__buy{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 150px;
   height: 50px;
 }
 .amount__buttonminus{
  display: flex;
  width: 18px;
  height: 38px;
  border: 0;
  cursor: pointer;
  font-size: 32px;
  margin-right: 30px;
  padding-left: 15px;
 }
 .amount__buttonplus {
  display: flex;
  width: 18px;
  height: 38px;
  border: 0;
  cursor: pointer;
  font-size: 32px;
 }
 .tickets__total{
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   margin-top: 40px;
   margin-bottom: 60px;
 }
 .tickets__total-title, .sum{
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1.65px;
 }
 .tickets__button{
   width: 151px;
  padding: 10px 40px 10px 18px;
  background-color: #000000;
  font-size: 20px;
  color: #ffffff;
 }
 /*..............parallax.........*/
 .parallax{
  width: 100%;
  height: 400px;
  background-image: url(/src/assets/img/parallax1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 }
 /*...........contacts................*/

 .contacts .section__title::after{
  content: "";
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  height: 3px;
  background-color: #710707;
}
.contacts__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact{
  font-size: 22px;
  padding-bottom: 28px;
}
.name{
  font-size: 28px;
  font-weight: 500;
}
.contacts__subtitle{
  margin-bottom: 45px;
}
.contacts__subtitle-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__text{
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 242px;
}
.contacts__map{
  margin-bottom: 65px;
}
/*...........footer................*/
.footer__wrapper{
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}
.widht-logo{
  width: 230px;
  margin-left: 235px;
  margin-top: 85px;
}

.padd{
  padding-left: 55px;
}
.footer__navigation-wrapper{
  width: 363px;
  height: 160px;
  margin-left: 115px;
  margin-top: 90px;
}
.footer__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 170px;
  max-height: 160px;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}
.footer__list a{
  color: white;
}
.footer__list li{
  padding-bottom: 25px;
}
.footer__list a:hover{
  color: #9D8665;
}
.footer__list a:active{
  color: #7E6C51;
}
.footer__links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 25px;
  align-items: flex-end;
  margin-left: 400px;
  padding-bottom: 35px;
}
.social{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340;
    width: 340px;
    height: 48px;
}
.border{
  max-width: 1920px;
  margin: 0 auto;
  height: 4px;
  background-color: #666666;
}
.rss{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 47px 0 55px 0;
}
.rss__logo{
  padding-left: 10px;
}
.user{
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
}
/*........popup....*/
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content{
  background-color: #ffffff;
  color: #000000;
  max-width: 1440px;
  padding: 30px;
  position: relative;
}
.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
  color: #000000;
  text-decoration: none;
}
.popup__title{
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

