@import 'normalize.css';
@import 'nouislider/dist/nouislider.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 360px;
  min-height: 100vh;
  font-family:'Neucha', cursive;
  font-size: 1.25rem;
  color: #fff;
}
.footer{
  position: relative;
  z-index: 100;
  background-color: #192F2D;
}
.rss{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
  position: relative;
  background-color: #192F2D;
}
.link{
  text-decoration: none;
  color: #fff;
}
.footer-year{
  margin-left: 2rem;
}

.footer-user{
  margin-right: 2rem;
}
/*---------header--------*/

header {
  position: relative;
  z-index: 1000;
  background-color: #192F2D;
}

.header-wrapper{
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 1rem;
  transition: 0.4s;
  font-size: 1.5rem;
  color: #fff;
  margin-right: 2rem;
}
.logo-link{
  width: 50px;
  height: 60px;
  background-image: url(../assets/svg/tree.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 2rem;
}

.header-nav a:hover{
  filter:invert(70%) drop-shadow(4px 4px 10px blue) saturate(100%);
}

.header-search-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.search{
  width: 20rem;
  height: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #24C5DB;
  background-color: #192F2D;
  background-image: url(../assets/svg/search.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 85% center;
  margin-right: 2rem;
  color: #fff;
}

.search-count{
  width: 2rem;
  height: 2.5rem;
  background-image: url(../assets/svg/ball-2.svg);
  background-size: 2rem 2.5rem;
  background-repeat: no-repeat;
  background-position: left;
  transition: 0.4s;
}
.search-count span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #24C5DB;
  margin-top: 12.5px;
  margin-left: 3.5px;
  text-align: center;
}

/*--------main-page-----*/
.page{
  max-width: 100%;
  min-height: calc(100vh - 160px);
  background-image: url(../assets/bg/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.big-ball{
  width: 418px;
  height: 700px;
  position: absolute;
  left: 220px;
  background-image: url(../assets/svg/1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999;
}
.small-ball{
  width: 246px;
  height: 446px;
  position: absolute;
  left: 65%;
  bottom: 30%;
  background-image: url(../assets/svg/1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  }

.main-page-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 600px;
  height: 250px;
  border-radius: 30px;
  border: 2px solid #24C5DB;
  background-color: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(5px);
  z-index: 1001;
}

.main-page-button{
  position: relative;
  width: 320px;
  height: 55px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border: 1px solid #24C5DB;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s;
  box-shadow: 0 0 0.25rem #24C5DB;
  z-index: 1001;
}

.main-page-button:hover{
	border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(177, 194, 226, 0.726);
  box-shadow: 0 0.6rem 1rem #24C5DB;
}

.main-page-title p{
  width: 100%;
}

/*--------toys-page--------*/

.toys-page-wrapper{
  width: 100%;
  height: 100%;
}

.filter-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  margin-bottom: 50px;
}

.filter-shape, .filter-color, .filter-size, .filter-favorite, .filter-favorite-form{
  display: flex;
  align-items: center;
}

.filter-block-value, .filter-block-range, .filter-block-sort{
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 30px 20px 30px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 0 10px;
}

.filter-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform:uppercase;
}
.filter-button{
  width: 35px;
  height: 42px;
  margin: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: 0;
  cursor: pointer;
  transition: 0.4s;
}

.filter-button:hover{
  filter: invert(35%);
}

.active{
  filter:invert(15%) hue-rotate(180deg) sepia(35%) contrast(70%) saturate(500%) brightness(65%)
}

.color-active{
  transform: scale(1.2);
}
.filter-shape{
  margin-top: 30px;
}

.filter-shape .filter-button:nth-child(1){
  background-image: url(../assets/svg/ball.svg);
  margin-left: 10px;
}

.filter-shape .filter-button:nth-child(2){
  background-image: url(../assets/svg/bell.svg);
}

.filter-shape .filter-button:nth-child(3){
  background-image: url(../assets/svg/cone.svg);
}

.filter-shape .filter-button:nth-child(4){
  background-image: url(../assets/svg/snow.svg);
}

.filter-shape .filter-button:nth-child(5){
  background-image: url(../assets/svg/toy.svg);
}

.filter-color .filter-button:nth-child(1){
  background-color: yellow;
  margin-left: 30px;
}

.filter-color .filter-button:nth-child(2){
  background-color: red;
  margin-left: 10px;
}

.filter-color .filter-button:nth-child(3){
  background-color: white;
  margin-left: 10px;
}

.filter-color .filter-button:nth-child(4){
  background-color: green;
  margin-left: 10px;
}

.filter-color .filter-button:nth-child(5){
  background-color: blue;
  margin-left: 10px;
}

.filter-color .filter-button:active::after{
  content:"";
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 5px;
  height: 5px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}

.filter-color .filter-button:nth-child(3):active::after{
  content:"";
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 5px;
  height: 5px;
  border: 5px solid #192F2D;
  border-radius: 50%;
  background-color:#192F2D;
}

.filter-size .filter-button{
  width: 50px;
  height: 50px;
  background-image: url(../assets/svg/ball.svg);
}

.filter-size .filter-button:nth-child(2){
  width: 40px;
  height: 40px;
}

.filter-size .filter-button:nth-child(3){
  width: 30px;
  height: 30px;
}

.filter-favorite-input{
  display: none;
}

.filter-favorite-label{
  position: relative;
  display: flex;
  width: 35px;
  height: 42px;
  margin-left: 20px;
  border: 1px solid #24C5DB;
  border-radius: 5px;
}

.filter-favorite-input:checked + .filter-favorite-label::after{
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.filter-favorite-label .favorited::after{
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}


.filter-span{
  text-transform: none;
}

.filter-count{
  margin-top: 50px;
}

.filter-slider-wrapper{
  color: #192F2D;
  height: 6px;
  margin: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-count{
  margin-bottom: 50px;
}

.filter-output{
  height: 40px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #24C5DB;
  color: #fff;
}

.slider{
  width: 250px;
  height: 7px;
  display: inline-block;
}

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-horizontal .noUi-handle {
  width: 26px;
  height: 26px;
  top: -12px;
  border-radius: 50%;
}

.filter-select{
  appearance: none;
  position: relative;
  width: 320px;
  height: 55px;
  background-color: #192F2D;
  background-image: url(../assets/svg/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 260px center;
  backdrop-filter: blur(6px);
  border: 1px solid #24C5DB;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  align-content: center;
  padding: 5px 30px;
  margin: 30px 0 20px 0;
}

.reset, .reset-local{
  margin: 20px 0 20px 0;
}

.card-block{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-left: 10px;
}

.card{
  width: 280px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);;
  backdrop-filter: blur(6px);
  border: 1px solid #24C5DB;
  border-radius: 30px;
  padding-left: 10px;
  margin: 5px 7px;
  cursor: pointer;
  transition: 0.5s all;
}

.card-title{
  width: 100%;
  padding: 10px 0 0 10px;
  font-size: 1.5rem;
}

.card-img{
  width: 90px;
  height: 110px;
  object-fit: contain;
  pointer-events: none;
}

.card-descr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: -25px;
  margin-right: 20px;
}

.ribbon{
  position: absolute;
  top: 210px;
  width: 70px;
  height: 30px;
  background-color: #3a7999;
  left: -8px;
}

.ribbon:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 8px solid #3a7999;
  border-left: 8px solid transparent;
  top: -8px;
}

.ribbon:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #3a7999;
  right: -15px;
}

.card.active .ribbon:after{
  border-left: 15px solid #cbb774;
}

.colored{
  position: absolute;
  top: 210px;
  width: 70px;
  height: 30px;
  background-color: #cbb774;
  left: -8px;
}

.ribbon.colored::before{
  background-color: #cbb774;
}

.ribbon.colored::after{
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #cbb774;
}

.anime{
  transform: scale(0);
  opacity: 0;
}

.hide{
  display: none;
}

.hide-anime{
  animation-name: hiden;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.search-wrapper{
  display: flex;
  flex-direction: column;
}

.alert{
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #24C5DB;
  background-color: #192F2D;
  background-color:#336662;
}
@keyframes hiden {
  0% {
    visibility: visible;
    height: 280px;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    max-width: 0;
    font-size: 0;
    gap: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}
